@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}

.primary{
  background: rgb(85,61, 227);
}

.secondary{
  background: #2b2d77;
}

.project{
  background: #1dd3eb;
}

.mobile-nav{
  @apply fixed top-10 right-0 bg-gray-800 w-[110px] h-[301px] items-end;
}

.mobile-nav li{
  @apply w-[100px] h-[60px] text-center border-b-2;
}

.pro{
  @apply absolute left-0 right-0 bottom-0 top-0 text-[10px] project opacity-0 duration-700 hover:opacity-100;
}

.btn{
  @apply primary px-2 py-1 ml-2 font-bold hover:border-2 border-pink-500 rounded hover:text-green-400;
}

html{
  scroll-behavior: smooth;
}

.abc:hover {
  @apply text-sky-300
}